# Advanced Pandas Operations: Merging, Joining, Reshaping, Pivoting

In [1]:
import pandas as pd
import numpy as np

## 1. Merging DataFrames

Merging combines DataFrames based on common columns or indices, similar to SQL joins.
Merging in pandas means combining two or more DataFrames based on common columns or indexes, similar to SQL JOIN operations.

### Key Parameters:
- `how`: 'left', 'right', 'outer', 'inner' (default 'inner')
- `on`: column(s) to join on
- `left_on`, `right_on`: for different column names
- `suffixes`: to distinguish overlapping columns

| Join Type | Description              | SQL Equivalent    |
| --------- | ------------------------ | ----------------- |
| `inner`   | Only matching rows       | `INNER JOIN`      |
| `left`    | All left + matched right | `LEFT JOIN`       |
| `right`   | All right + matched left | `RIGHT JOIN`      |
| `outer`   | All rows from both       | `FULL OUTER JOIN` |
| `cross`   | Cartesian product        | `CROSS JOIN`      |

In [2]:
# Sample DataFrames
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value1': [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value2': [5, 6, 7, 8]
})

print('df1:\n', df1)
print('\ndf2:\n', df2)

df1:
   key  value1
0   A       1
1   B       2
2   C       3
3   D       4

df2:
   key  value2
0   B       5
1   D       6
2   E       7
3   F       8

In [3]:
# Inner Merge
inner_merge = pd.merge(df1, df2, on='key', how='inner')
print('Inner Merge:\n', inner_merge)

Inner Merge:
   key  value1  value2
0   B       2       5
1   D       4       6

In [4]:
# Left Merge
left_merge = pd.merge(df1, df2, on='key', how='left')
print('Left Merge:\n', left_merge)

Left Merge:
   key  value1  value2
0   A       1     NaN
1   B       2     5.0
2   C       3     NaN
3   D       4     6.0

In [5]:
# Right Merge
right_merge = pd.merge(df1, df2, on='key', how='right')
print('Right Merge:\n', right_merge)

Right Merge:
   key  value1  value2
0   B     2.0       5
1   D     4.0       6
2   E     NaN       7
3   F     NaN       8

In [6]:
# Outer Merge
outer_merge = pd.merge(df1, df2, on='key', how='outer')
print('Outer Merge:\n', outer_merge)

Outer Merge:
   key  value1  value2
0   A     1.0     NaN
1   B     2.0     5.0
2   C     3.0     NaN
3   D     4.0     6.0
4   E     NaN     7.0
5   F     NaN     8.0

In [7]:
# Merging with different column names
df3 = pd.DataFrame({
    'lkey': ['A', 'B', 'C', 'D'],
    'value1': [1, 2, 3, 4]
})

df4 = pd.DataFrame({
    'rkey': ['B', 'D', 'E', 'F'],
    'value2': [5, 6, 7, 8]
})

merged_diff_cols = pd.merge(df3, df4, left_on='lkey', right_on='rkey')
print('Merge with different column names:\n', merged_diff_cols)

Merge with different column names:
   lkey  value1 rkey  value2
0    B       2    B       5
1    D       4    D       6

In [8]:
# Merging on multiple keys
df5 = pd.DataFrame({
    'key1': ['A', 'A', 'B', 'B'],
    'key2': [1, 2, 1, 2],
    'value1': [10, 20, 30, 40]
})

df6 = pd.DataFrame({
    'key1': ['A', 'B', 'B', 'C'],
    'key2': [1, 1, 2, 1],
    'value2': [50, 60, 70, 80]
})

multi_key_merge = pd.merge(df5, df6, on=['key1', 'key2'])
print('Multi-key Merge:\n', multi_key_merge)

Multi-key Merge:
   key1  key2  value1  value2
0    A     1      10      50
1    B     1      30      60
2    B     2      40      70

## 2. Joining DataFrames

Joining is similar to merging but uses indices as keys by default. A join combines rows from two DataFrames when they share:
- the same index, or
- a key column

### Key Parameters:
- `how`: 'left', 'right', 'outer', 'inner' (default 'left')
- `on`: column to join on (if not index)
- `lsuffix`, `rsuffix`: for overlapping columns

In [9]:
# Sample DataFrames with index
df_left = pd.DataFrame({
    'value1': [1, 2, 3]
}, index=['A', 'B', 'C'])

df_right = pd.DataFrame({
    'value2': [4, 5, 6]
}, index=['B', 'C', 'D'])

print('df_left:\n', df_left)
print('\ndf_right:\n', df_right)

df_left:
    value1
A       1
B       2
C       3

df_right:
    value2
B       4
C       5
D       6

In [10]:
# Left Join
left_join = df_left.join(df_right, how='left')
print('Left Join:\n', left_join)

Left Join:
    value1  value2
A       1     NaN
B       2     4.0
C       3     5.0

In [11]:
# Inner Join
inner_join = df_left.join(df_right, how='inner')
print('Inner Join:\n', inner_join)

Inner Join:
    value1  value2
B       2       4
C       3       5

In [12]:
# Joining on columns
df_left_col = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value1': [1, 2, 3]
})

df_right_col = pd.DataFrame({
    'value2': [4, 5, 6]
}, index=['A', 'B', 'C'])

df_left_col = df_left_col.set_index('key')
joined_col = df_left_col.join(df_right_col)
print('Join on column set as index:\n', joined_col)

Join on column set as index:
      value1  value2
key
A         1       4
B         2       5
C         3       6

In [13]:
# Handling overlapping columns
df_overlap_left = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value': [1, 2, 3]
})

df_overlap_right = pd.DataFrame({
    'value': [4, 5, 6]
}, index=['A', 'B', 'D'])

df_overlap_left = df_overlap_left.set_index('key')
overlap_join = df_overlap_left.join(df_overlap_right, lsuffix='_left', rsuffix='_right')
print('Join with suffixes:\n', overlap_join)

Join with suffixes:
      value_left  value_right
key
A             1          4.0
B             2          5.0
C             3          NaN

## 3. Reshaping DataFrames

Reshaping changes the layout of the DataFrame, e.g., from wide to long format or vice versa.
Reshaping means changing the structure/layout of a DataFrame without changing the actual data.

### Methods:
- `melt`: Unpivot from wide to long
- `stack` / `unstack`: Pivot for MultiIndex
- `pivot`: Reshape from long to wide

In [14]:
# Sample wide DataFrame for melt
df_wide = pd.DataFrame({
    'id': [1, 2, 3],
    'A': [10, 20, 30],
    'B': [40, 50, 60]
})

print('Wide DataFrame:\n', df_wide)

Wide DataFrame:
    id   A   B
0   1  10  40
1   2  20  50
2   3  30  60

In [15]:
# Melt to long format
df_long = pd.melt(df_wide, id_vars=['id'], value_vars=['A', 'B'], var_name='variable', value_name='value')
print('Long DataFrame:\n', df_long)

Long DataFrame:
    id variable  value
0   1        A     10
1   2        A     20
2   3        A     30
3   1        B     40
4   2        B     50
5   3        B     60

In [16]:
# Sample for stack/unstack
arrays = [
    ['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
    ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']
]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df_multi = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

print(tuples)
print('MultiIndex DataFrame:\n', df_multi)

[('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]
MultiIndex DataFrame:
                      A         B
first second
bar   one    -1.015442 -0.089435
      two     0.634692 -1.081855
baz   one     0.209131  0.027252
      two    -0.431524 -1.194675
foo   one     0.204231  0.167979
      two     1.396499 -1.002883
qux   one     0.598472  1.405244
      two    -0.081195  1.543941

In [17]:
# Stack
stacked = df_multi.stack()
print('Stacked:\n', stacked)

Stacked:
 first  second
bar    one     A   -1.015442
               B   -0.089435
       two     A    0.634692
               B   -1.081855
baz    one     A    0.209131
               B    0.027252
       two     A   -0.431524
               B   -1.194675
foo    one     A    0.204231
               B    0.167979
       two     A    1.396499
               B   -1.002883
qux    one     A    0.598472
               B    1.405244
       two     A   -0.081195
               B    1.543941
dtype: float64

In [18]:
# Unstack
unstacked = stacked.unstack()
print('Unstacked:\n', unstacked)

Unstacked:
                      A         B
first second
bar   one    -1.015442 -0.089435
      two     0.634692 -1.081855
baz   one     0.209131  0.027252
      two    -0.431524 -1.194675
foo   one     0.204231  0.167979
      two     1.396499 -1.002883
qux   one     0.598472  1.405244
      two    -0.081195  1.543941

In [19]:
# Unstack on specific level
unstacked_level = stacked.unstack(level=0)
print('Unstacked on level 0:\n', unstacked_level)

Unstacked on level 0:
 first          bar       baz       foo       qux
second
one    A -1.015442  0.209131  0.204231  0.598472
       B -0.089435  0.027252  0.167979  1.405244
two    A  0.634692 -0.431524  1.396499 -0.081195
       B -1.081855 -1.194675 -1.002883  1.543941

## 4. Pivoting DataFrames

Pivoting creates a new DataFrame by rotating data, often for summarization.

### Methods:
- `pivot`: Reshape without aggregation
- `pivot_table`: With aggregation (mean by default)

In [20]:
# Sample long DataFrame for pivot
df_long_pivot = pd.DataFrame({
    'date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'city': ['NY', 'LA', 'NY', 'LA'],
    'temp': [32, 75, 30, 78]
})

print('Long DataFrame for pivot:\n', df_long_pivot)

Long DataFrame for pivot:
          date city  temp
0  2023-01-01   NY    32
1  2023-01-01   LA    75
2  2023-01-02   NY    30
3  2023-01-02   LA    78

In [21]:
# Pivot
pivoted = df_long_pivot.pivot(index='date', columns='city', values='temp')
print('Pivoted:\n', pivoted)

Pivoted:
 city        LA  NY
date
2023-01-01  75  32
2023-01-02  78  30

In [22]:
# Sample for pivot_table with duplicates
df_dup = pd.DataFrame({
    'date': ['2023-01-01', '2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'city': ['NY', 'NY', 'LA', 'NY', 'LA'],
    'temp': [32, 34, 75, 30, 78]
})

print('DataFrame with duplicates:\n', df_dup)

DataFrame with duplicates:
          date city  temp
0  2023-01-01   NY    32
1  2023-01-01   NY    34
2  2023-01-01   LA    75
3  2023-01-02   NY    30
4  2023-01-02   LA    78

In [23]:
# Pivot Table with mean aggregation
pivot_table_mean = df_dup.pivot_table(index='date', columns='city', values='temp', aggfunc='mean')
print('Pivot Table (mean):\n', pivot_table_mean)

Pivot Table (mean):
 city          LA    NY
date
2023-01-01  75.0  33.0
2023-01-02  78.0  30.0

In [24]:
# Pivot Table with multiple aggregations
pivot_table_multi = df_dup.pivot_table(index='date', columns='city', values='temp', aggfunc=[np.mean, np.max])
print('Pivot Table (mean and max):\n', pivot_table_multi)

Pivot Table (mean and max):
             mean       max
city          LA    NY  LA  NY
date
2023-01-01  75.0  33.0  75  34
2023-01-02  78.0  30.0  78  30

/tmp/ipykernel_14880/2633065558.py:2: FutureWarning: The provided callable <function mean at 0x7f867c195e40> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_table_multi = df_dup.pivot_table(index='date', columns='city', values='temp', aggfunc=[np.mean, np.max])
/tmp/ipykernel_14880/2633065558.py:2: FutureWarning: The provided callable <function max at 0x7f867c195440> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  pivot_table_multi = df_dup.pivot_table(index='date', columns='city', values='temp', aggfunc=[np.mean, np.max])

In [25]:
# Pivot Table with margins
pivot_table_margins = df_dup.pivot_table(index='date', columns='city', values='temp', aggfunc='mean', margins=True)
print('Pivot Table with margins:\n', pivot_table_margins)

Pivot Table with margins:
 city          LA    NY   All
date
2023-01-01  75.0  33.0  47.0
2023-01-02  78.0  30.0  54.0
All         76.5  32.0  49.8